<div class="card {{ cardModifier }}">
    <picture>
        {{{ cardMedia }}}
    </picture>
    <div class="card__body">
        {{{ cardTitle }}}
        {{{ cardMeta }}}
        {{{ cardBody }}}
    </div>
</div>