{{#if cardURL}}
<a href="{{{ cardURL }}}" class="card {{ cardModifier }}">
    {{else}}
    <div class="card {{ cardModifier }}">
        {{/if}}
        <div class="card__media">
            {{{ cardMedia }}}
        </div>
        <div class="card__body">
            <header class="card__header">
                <h3 class="card__title">{{{ cardTitle }}}</h3>
                {{{ cardMeta }}}
            </header>
            {{{ cardBody }}}
        </div>
        {{#if cardURL}}
</a>
{{else}}
</div>
{{/if}}