{{#if cardURL}}
<a href="{{{ cardURL }}}" class="card {{ cardModifier }}">
    {{else}}
    <div class="card {{ cardModifier }}">
        {{/if}}
        <div class="card__media">
            {{{ cardMedia }}}
        </div>
        <div class="card__body">
            <div class="card__title-area">
                <h3 class="card__title">{{{ cardTitle }}}</h3>
                {{{ cardMeta }}}
            </div>
            {{{ cardBody }}}
        </div>
        {{#if cardURL}}
</a>
{{else}}
</div>
{{/if}}