<form class="form" action="#" method="POST" style="max-width: 60%;">
    <div class="form-group">
        <ul class="list list--horizontal-spaced">
            <li>
                {{render '@text'}}
            </li>
            <li>
                {{render '@text'}}
            </li>
        </ul>

        {{render '@text'}}

        {{render '@textarea'}}

        {{render '@select'}}

        {{render '@radio'}}

        {{render '@checkbox'}}

        {{render '@file-upload'}}

        <button id="SignUp" name="SignUp" type="submit" class="btn btn--primary" disabled>Sign me up</button>

        <button id="SignUp" name="SignUp" type="submit" class="btn btn--primary">Sign me up</button>
    </div>
</form>