@using Microsoft.AspNetCore.Identity
@using OrchardCore.Entities
@using OrchardCore.Settings
@using OrchardCore.Themes.Services
@using OrchardCore.Users
@using OrchardCore.Users.Models

@model OrchardCore.Users.ViewModels.LoginViewModel

@inject ISiteThemeService SiteThemeService
@inject SignInManager<IUser> _signInManager
@inject ISiteService _site

@{
    var userCanRegister = (await _site.GetSiteSettingsAsync()).As<RegistrationSettings>().UsersCanRegister;
    var allowResetPassword = (await _site.GetSiteSettingsAsync()).As<ResetPasswordSettings>().AllowResetPassword;
    var loginProviders = (await _signInManager.GetExternalAuthenticationSchemesAsync()).ToList();

    var returnUrl = Context.Request.Query.ContainsKey("returnUrl") ? (string)Context.Request.Query["returnUrl"] : string.Empty;

    var currentThemeName = await SiteThemeService.GetCurrentThemeNameAsync();

    RenderTitleSegments(T["Login"]);
}

<section class="hero hero--desktop-ratio-100vh hero--tablet-ratio-100vh hero--mobile-ratio-100vh hero--horizontal-center hero--vertical-center hero--contains-users-form">
    <div class="hero__body constrain constrain--extra-thin">
        <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form form--users-form" method="POST">
            <h1 class="text--h3">@T["Log in"]</h1>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="form-group">
                    <p class="text--error">Failed to login.</p>
                </div>
            }

            <div class="form-group">
                <label class="label" for="UserName">
                    @T["Username"]
                </label>
                <input class="input" id="UserName" name="UserName" type="text" autofocus tabindex="1">
            </div>

            <div class="form-group">
                <label class="label" for="Password">
                    @T["Password"]
                </label>
                <input class="input" id="Password" name="Password" type="password" tabindex="2">
            </div>

            @await RenderSectionAsync("AfterLogin", required: false)

            <button type="submit" class="btn btn--primary" tabindex="3">@T["Login"]</button>

            @if (allowResetPassword)
            {
                <p class="margin--top-large"><a asp-controller="ResetPassword" asp-action="ForgotPassword" asp-area="OrchardCore.Users" class="link link--plain">@T["Forgot password?"]</a></p>
            }
        </form>
    </div>
    <div class="hero__space"></div>
</section>
