{{render '@header'}}

{{render '@hero-video'}}

{{render '@section-featured'}}

<section class="section bg--color-grey-light">
    <div class="constrain constrain--wide">

        <h2>Latest news</h2>

        <div class="grid">
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
        </div>

    </div>
</section>

{{render '@footer'}}