{{render '@header'}}

{{render '@hero-video'}}

{{render '@section-featured'}}

{{render '@section-media'}}

<section class="section section--wide bg--color-grey-light">
    <div class="section__content">

        <h2>Latest news</h2>

        <div class="grid">
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
        </div>

    </div>
</section>

{{render '@footer'}}