{{render '@header'}}

{{render '@hero-video'}}

{{render '@section-featured'}}

<section class="section section--wide padding--bottom-large">
    <div class="section__content">

        <div class="grid grid--double">
            <div class="grid__item parallax" data-rellax-percentage="0.5" data-rellax-speed="2">

                <h2 class="section__title">Section Title</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper, metus at venenatis luctus, enim nulla suscipit sapien, in fermentum mi lacus eu lorem. Nam libero risus, euismod eu gravida vel, ullamcorper vitae neque. In sollicitudin aliquet mattis. Donec at varius erat. Nunc nec egestas tortor. Praesent quis dapibus risus. Aliquam erat lorem, accumsan sed efficitur ut, venenatis et diam.</p>
                <a href="#">Learn more</a>

            </div>
            <div class="grid__item">

                <img src="/content/PatternLibrary/unsplash-1444090542259-1024w.jpg" />

            </div>
        </div>

    </div>
</section>

<section class="section section--wide bg--color-grey-light">
    <div class="section__content">

        <h2>Latest news</h2>

        <div class="grid">
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
        </div>

    </div>
</section>

{{render '@footer'}}