{{render '@header'}}

<section class="section">
    <div class="constrain constrain--wide">

        <h1 class="padding--bottom-large">Blog</h1>

        <div class="grid">
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
            <div class="grid__item">
                {{render '@card--news'}}
            </div>
        </div>

        {{render '@pager'}}

    </div>
</section>

{{render '@footer'}}