@{ 
    var editUrl = $"{Context.Request.PathBase}/Admin/Contents/ContentItems/{Model.ContentItem.ContentItemId}/Edit?returnUrl={FullRequestPath}";
}

<div class="editor-toolbar">
    <div class="editor-toolbar__content">
        <h3 class="margin--bottom-small text--uppercase">@Model.ContentItem.DisplayText</h3>
        @if (Model.ContentItem.Published)
        {
            <p class="text--size-small font--subheading margin--bottom-none">Published by @Model.ContentItem.Author on @Model.ContentItem.PublishedUtc.ToString(). <a href="@editUrl" class="link--edit">@T["Edit"] @Model.ContentItem.ContentType</a></p>
        }
        else
        {
            <p class="text--size-small font--subheading margin--bottom-none">Draft. <a href="@editUrl" class="link--edit">@T["Edit"] @Model.ContentItem.ContentType</a></p>
        }
    </div>
</div>