{% if Model.HasMediaItems %}
    <ul class="gallery js-gallery">
    {% for media in Model.MediaItems %}
        <li class="gallery__item gallery__item--{{ media.TypeName | downcase | slugify }}">
            <a href="{{ media.Url }}">
                <img src="{{ media.Thumb }}" title="{{ media.Title }}" alt="{{ media.Title }}" />
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}