{% assign cssClasses = "section section--wide" %}
{% assign backgroundColour = Model.ContentItem.Content.SectionMedia.BackgroundColour.Text %}
{% assign reverse = Model.ContentItem.Content.SectionMedia.Reverse.Value %}

{% if backgroundColour != null and backgroundColour != 'default' %}
    {% assign backgroundColorClass = ' bg--color-' | append: backgroundColour %}
    {% assign cssClasses = backgroundColorClass | prepend: cssClasses %}
{% endif %}

{% if backgroundColour == 'black' %}
    {% assign cssClasses = ' color--white' | prepend: cssClasses %}
{% endif %}

<section class="{{ cssClasses }}">
    <div class="section__content">
        <div class="grid grid--double">
        {% if reverse == false %}

            <div class="grid__item parallax align-self--center margin--bottom-none" data-rellax-percentage="0.5" data-rellax-speed="2">
                {% if Model.ContentItem.Content.SectionMedia.DisplayTitle.Value %}
                    <h2 class="section__title">{{ Model.ContentItem.DisplayText }}</h2>
                {% endif %}

                {{ Model.Content.Content | shape_render }}
            </div>

            <div class="grid__item margin--bottom-none">
            {% if Model.ContentItem.Content.SectionMedia.Media.Paths[0] != null %}
                <img src="{{ Model.ContentItem.Content.SectionMedia.Media.Paths[0] | asset_url }}" alt="{{ Model.ContentItem.Content.SectionMedia.MediaAlternateText.Text }}"/>
            {% endif %}
            </div>

        {% else %}

            <div class="grid__item margin--bottom-none">
            {% if Model.ContentItem.Content.SectionMedia.Media.Paths[0] != null %}
                <img src="{{ Model.ContentItem.Content.SectionMedia.Media.Paths[0] | asset_url }}" alt="{{ Model.ContentItem.Content.SectionMedia.MediaAlternateText.Text }}"/>
            {% endif %}
            </div>

            <div class="grid__item parallax align-self--center margin--bottom-none" data-rellax-percentage="0.5" data-rellax-speed="2">
                {% if Model.ContentItem.Content.SectionMedia.DisplayTitle.Value %}
                    <h2 class="section__title">{{ Model.ContentItem.DisplayText }}</h2>
                {% endif %}

                {{ Model.Content.Content | shape_render }}
            </div>

        {% endif %}
        </div>
    </div>
</section>