@using OrchardCore.Themes.Services

@model OrchardCore.Users.ViewModels.ForgotPasswordViewModel

@inject ISiteThemeService SiteThemeService

@{
    var currentThemeName = await SiteThemeService.GetCurrentThemeNameAsync();
}

<section class="section section--form-solo">
    <div class="section__content">
        <a href="@Context.Request.PathBase"><img src="/@currentThemeName/content/logo-play.svg" class="margin--bottom-large" /></a>

        <form asp-controller="ResetPassword" asp-action="ForgotPassword" method="post" class="form text--align-left">
            <h1 class="text--size-h4">@T["Forgot password?"]</h1>
            <p>@T["Please check your email or user name to reset your password."]</p>

            <div asp-validation-summary="All" class="text--danger"></div>

            <div class="form-group">
                <label asp-for="UserIdentifier">@T["Email or user name"]</label>
                <input asp-for="UserIdentifier" autofocus tabindex="1" class="input" />
            </div>

            @await RenderSectionAsync("AfterForgotPassword", required: false)
            
            <button type="submit" class="btn btn-primary width--full" tabindex="2">@T["Submit"]</button>
        </form>
    </div>
</section>
