@using OrchardCore.Themes.Services

@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

@inject ISiteThemeService SiteThemeService

@{
    var currentThemeName = await SiteThemeService.GetSiteThemeNameAsync();
}

<section class="hero hero--desktop-ratio-100vh hero--tablet-ratio-100vh hero--mobile-ratio-100vh hero--horizontal-center hero--vertical-center hero--contains-users-form">
    <div class="hero__body constrain constrain--extra-thin">
        <form asp-controller="ResetPassword" asp-action="ResetPassword" method="post" class="form form--users-form">
            <h1 class="text--h3">@T["Reset password"]</h1>

            <div class="form-group">
                <label asp-for="Email">@T["Email"]</label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="text--error"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">@T["New password"]</label>
                <input asp-for="NewPassword" class="input" />
                <span asp-validation-for="NewPassword" class="text--error"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation">@T["New password confirmation"]</label>
                <input asp-for="PasswordConfirmation" class="input" />
                <span asp-validation-for="PasswordConfirmation" class="text--error"></span>
            </div>

            @await RenderSectionAsync("AfterResetPassword", required: false)

            <input asp-for="ResetToken" type="hidden" />

            <button type="submit" class="btn btn--primary">@T["Reset password"]</button>
        </form>
    </div>
    <div class="hero__space"></div>
</section>
