@using OrchardCore.Themes.Services

@model OrchardCore.Users.ViewModels.ResetPasswordViewModel

@inject ISiteThemeService SiteThemeService

@{
    var currentThemeName = await SiteThemeService.GetCurrentThemeNameAsync();
}

<section class="section section--form-solo">
    <div class="section__content">
        <form asp-controller="ResetPassword" asp-action="ResetPassword" method="post" class="form text--align-left">
            <h1 class="text--size-h4">@T["Reset password"]</h1>

            <div class="form-group">
                <label asp-for="Email">@T["Email"]</label>
                <input asp-for="Email" class="input" />
                <span asp-validation-for="Email" class="text--danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword">@T["New password"]</label>
                <input asp-for="NewPassword" class="input" />
                <span asp-validation-for="NewPassword" class="text--danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation">@T["New password confirmation"]</label>
                <input asp-for="PasswordConfirmation" class="input" />
                <span asp-validation-for="PasswordConfirmation" class="text--danger"></span>
            </div>

            @await RenderSectionAsync("AfterResetPassword", required: false)

            <input asp-for="ResetToken" type="hidden" />

            <button type="submit" class="btn btn--primary width-100">@T["Reset password"]</button>
        </form>
    </div>
</section>
