@using OrchardCore.Themes.Services

@inject ISiteThemeService SiteThemeService

@{
    var currentThemeName = await SiteThemeService.GetCurrentThemeNameAsync();
}

<section class="section section--form-solo">
    <div class="section__content">
        <a href="@Context.Request.PathBase"><img src="/@currentThemeName/content/logo-play.svg" class="margin--bottom-large" /></a>

        <div class="form text--align-left">
            <h1 class="text--size-h4">@T["Reset Password Confirmation"]</h1>

            <p>@T["Your password has been reset."]</p>
            <p>@T["Please "]<a asp-route-area="OrchardCore.Users" asp-controller="Account" asp-action="Login">@T["log in"]</a>.</p>
        </div>
    </div>
</section>