<div class="grid">
    <div class="grid__item">
        {{render '@card--news'}}
    </div>
    <div class="grid__item">
        {{render '@card--news'}}
    </div>
    <div class="grid__item">
        {{render '@card--news'}}
    </div>
    <div class="grid__item">
        {{render '@card--news'}}
    </div>
    <div class="grid__item">
        {{render '@card--news'}}
    </div>
    <div class="grid__item">
        {{render '@card--news'}}
    </div>
</div>